<br>
<div class="row container-fluid">
  <div class="col-sm-4">
  <a type="button" class="btn btn-outline-success btn-block" id="buttn" href="/">HOME</a>
  </div>
  <br>
  <div class="col-sm-4">
  <a type="button" class="btn btn-outline-success btn-block" id="buttn" href="/clan">VIEW CLAN</a>
  </div>
  <br>
  <div class="col-sm-4">
  <a type="button" class="btn btn-outline-success btn-block" id="buttn" href="/warlog">WAR LOG</a>
  </div>
  </div>
  <br>
<div class="row container-fluid">
  <div class="col-sm-4">
  <a type="button" class="btn btn-outline-success btn-block" id="buttn" href="/layouts">VIEW BASE LAYOUTS</a>
  </div>
  <div class="col-sm-4">
  <a type="button" class="btn btn-outline-success btn-block" id="buttn" href="/video">VIDEOS</a>
  </div>
  <div class="col-sm-4">
  <a type="button" class="btn btn-outline-success btn-block" id="buttn" href="https://link.clashofclans.com/en?action=OpenClanProfile&tag=CQJ9CCR9">VIEW CLAN IN COC</a>
  </div>
  </div>
  <br>