<footer class="bg-dark">
    <div class="row">
        <h2 class="col-sm-2 footbrand"><br>DARK HEROS</h2>
        <ul class="col-sm-5">
          <li><div>CONTACT :-</div></li>
          <li><div>jainv811@gmail.com</div></li>
          <li><div>gurmans514@gmail.com</div></li>
        </ul>
        <ul class="col-sm-5">
          <li><div>DEVELOPERS :-</div></li>
          <li><div>VARDHMAN JAIN</div></li>
          <li><div>GURMAN SINGH</div></li>
        </ul>
   </div>
</footer>