<html>
    <head>
        <title>THE DARK HEROS</title>
        <link rel="icon" href="img/icon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  
        <link href="https://fonts.googleapis.com/css2?family=Nosifer&display=swap" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Metal Mania' rel='stylesheet'>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="header1.css">
        <link rel="stylesheet" href="layout1.css">
        
<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </head>
    <body>
        <div>
        <%- include('partials/header.ejs') %>

        <h2 class="head">BASE LAYOUTS</h2>
        <br>
        <h3>Town Hall 13</h3>
        <div class="row">
            <div class="col-sm-6">
            <div class="card" style="background-color: rgb(204, 255, 207);">
                <img class="card-img-top" src="/img/th13base1.png" >
                <div class="card-body">
                  <h5 class="card-title titl">Town Hall 13</h5>
                  <div class="row">
                    <div class="col-sm-4"></div>
                    <a href="https://link.clashofclans.com/en?action=OpenLayout&id=TH13%3AWB%3AAAAAGQAAAAGb10vlm-gBpkudD2tGZmJY" class="col-sm-4 btn btn-primary but">COPY LAYOUT</a>
                    <div class="col-sm-4"></div>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
                <div class="card" style="background-color: rgb(204, 255, 207);" >
                    <img class="card-img-top" src="/img/th13base2.png" >
                    <div class="card-body">
                        <h5 class="card-title titl">Town Hall 13</h5>
                        <div class="row">
                        <div class="col-sm-4"></div>
                        <a href="https://link.clashofclans.com/en?action=OpenLayout&id=TH13%3AWB%3AAAAAGQAAAAGb114p1b4K0PpCUypJZjFm" class="col-sm-4 btn btn-primary but">COPY LAYOUT</a>
                        <div class="col-sm-4"></div>
                        </div>
                    </div>
                  </div>
                </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6">
            <div class="card" style="background-color: rgb(204, 255, 207);">
                <img class="card-img-top" src="/img/th13base3.png" >
                <div class="card-body">
                  <h5 class="card-title titl">Town Hall 13</h5>
                  <div class="row">
                    <div class="col-sm-4"></div>
                    <a href="https://link.clashofclans.com/en?action=OpenLayout&id=TH13%3AWB%3AAAAAGQAAAAGl_aAasP_sOMqco2csQbZA" class="col-sm-4 btn btn-primary but">COPY LAYOUT</a>
                    <div class="col-sm-4"></div>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
                <div class="card" style="background-color: rgb(204, 255, 207);" >
                    <img class="card-img-top" src="/img/th13base4.png" >
                    <div class="card-body">
                        <h5 class="card-title titl">Town Hall 13</h5>
                        <div class="row">
                        <div class="col-sm-4"></div>
                        <a href="https://link.clashofclans.com/en?action=OpenLayout&id=TH13%3AWB%3AAAAAGQAAAAGl_twSeuvddBPaDndpSqJR" class="col-sm-4 btn btn-primary but">COPY LAYOUT</a>
                        <div class="col-sm-4"></div>
                        </div>
                    </div>
                  </div>
                </div>
        </div>
        <br>
        <h3>Town Hall 12</h3>
        <div class="row">
            <div class="col-sm-6">
            <div class="card" style="background-color: rgb(204, 255, 207);">
                <img class="card-img-top" src="/img/th12base1.png" >
                <div class="card-body">
                  <h5 class="card-title titl">Town Hall 12</h5>
                  <div class="row">
                    <div class="col-sm-4"></div>
                    <a href="https://link.clashofclans.com/en?action=OpenLayout&id=TH12%3AWB%3AAAAAAAAAAAHa-PGtybkd7H38PE5txf9R" class="col-sm-4 btn btn-primary but">COPY LAYOUT</a>
                    <div class="col-sm-4"></div>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
                <div class="card" style="background-color: rgb(204, 255, 207);" >
                    <img class="card-img-top" src="/img/th12base2.png" >
                    <div class="card-body">
                        <h5 class="card-title titl">Town Hall 12</h5>
                        <div class="row">
                        <div class="col-sm-4"></div>
                        <a href="https://link.clashofclans.com/en?action=OpenLayout&id=TH12%3AHV%3AAAAAAAAAAAHa-Rr98mQqgS37aqvXyJuE" class="col-sm-4 btn btn-primary but">COPY LAYOUT</a>
                        <div class="col-sm-4"></div>
                        </div>
                    </div>
                  </div>
                </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6">
            <div class="card" style="background-color: rgb(204, 255, 207);">
                <img class="card-img-top" src="/img/th12base3.png" >
                <div class="card-body">
                  <h5 class="card-title titl">Town Hall 12</h5>
                  <div class="row">
                    <div class="col-sm-4"></div>
                    <a href="https://link.clashofclans.com/en?action=OpenLayout&id=TH12%3AWB%3AAAAAGQAAAAGK0XGvhZuPHGfXIHtxdQz1" class="col-sm-4 btn btn-primary but">COPY LAYOUT</a>
                    <div class="col-sm-4"></div>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
                <div class="card" style="background-color: rgb(204, 255, 207);" >
                    <img class="card-img-top" src="/img/th12base4.png" >
                    <div class="card-body">
                        <h5 class="card-title titl">Town Hall 12</h5>
                        <div class="row">
                        <div class="col-sm-4"></div>
                        <a href="https://link.clashofclans.com/en?action=OpenLayout&id=TH12%3AHV%3AAAAAGQAAAAGK0cbc2JgyEDdiqWfoBrJz" class="col-sm-4 btn btn-primary but">COPY LAYOUT</a>
                        <div class="col-sm-4"></div>
                        </div>
                    </div>
                  </div>
                </div>
        </div>
        <br>
        <h3>Town Hall 11</h3>
        <div class="row">
            <div class="col-sm-6">
            <div class="card" style="background-color: rgb(204, 255, 207);">
                <img class="card-img-top" src="/img/th11base1.png" >
                <div class="card-body">
                  <h5 class="card-title titl">Town Hall 11</h5>
                  <div class="row">
                    <div class="col-sm-4"></div>
                    <a href="https://link.clashofclans.com/en?action=OpenLayout&id=TH11%3AWB%3AAAAAVgAAAAD507s8J7bg14G_Ze89UNCI" class="col-sm-4 btn btn-primary but">COPY LAYOUT</a>
                    <div class="col-sm-4"></div>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
                <div class="card" style="background-color: rgb(204, 255, 207);" >
                    <img class="card-img-top" src="/img/th11base2.png" >
                    <div class="card-body">
                        <h5 class="card-title titl">Town Hall 11</h5>
                        <div class="row">
                        <div class="col-sm-4"></div>
                        <a href="https://link.clashofclans.com/en?action=OpenLayout&id=TH11%3AWB%3AAAAAVgAAAAD5zEBgNJwlNhlQD7zMSqTr" class="col-sm-4 btn btn-primary but">COPY LAYOUT</a>
                        <div class="col-sm-4"></div>
                        </div>
                    </div>
                  </div>
                </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6">
            <div class="card" style="background-color: rgb(204, 255, 207);">
                <img class="card-img-top" src="/img/th11base3.png" >
                <div class="card-body">
                  <h5 class="card-title titl">Town Hall 11</h5>
                  <div class="row">
                    <div class="col-sm-4"></div>
                    <a href="https://link.clashofclans.com/en?action=OpenLayout&id=TH11%3AWB%3AAAAAVgAAAAD507s8J7bg14G_Ze89UNCI" class="col-sm-4 btn btn-primary but">COPY LAYOUT</a>
                    <div class="col-sm-4"></div>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
                <div class="card" style="background-color: rgb(204, 255, 207);" >
                    <img class="card-img-top" src="/img/th11base4.png" >
                    <div class="card-body">
                        <h5 class="card-title titl">Town Hall 11</h5>
                        <div class="row">
                        <div class="col-sm-4"></div>
                        <a href="https://link.clashofclans.com/en?action=OpenLayout&id=TH11%3AWB%3AAAAAVgAAAAD5zEBgNJwlNhlQD7zMSqTr" class="col-sm-4 btn btn-primary but">COPY LAYOUT</a>
                        <div class="col-sm-4"></div>
                        </div>
                    </div>
                  </div>
                </div>
        </div>
        <br>
        <h3>Town Hall 10</h3>
        <div class="row">
            <div class="col-sm-6">
            <div class="card" style="background-color: rgb(204, 255, 207);">
                <img class="card-img-top" src="/img/th10base1.png" >
                <div class="card-body">
                  <h5 class="card-title titl">Town Hall 10</h5>
                  <div class="row">
                    <div class="col-sm-4"></div>
                    <a href="https://link.clashofclans.com/en?action=OpenLayout&id=TH10%3AHV%3AAAAATAAAAAERGDOjS3j6OXV7-aieD-vR" class="col-sm-4 btn btn-primary but">COPY LAYOUT</a>
                    <div class="col-sm-4"></div>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
                <div class="card" style="background-color: rgb(204, 255, 207);" >
                    <img class="card-img-top" src="/img/th10base2.png" >
                    <div class="card-body">
                        <h5 class="card-title titl">Town Hall 10</h5>
                        <div class="row">
                        <div class="col-sm-4"></div>
                        <a href="https://link.clashofclans.com/en?action=OpenLayout&id=TH10%3AHV%3AAAAATAAAAAERGBaF1z5kWypfaVY4EK66" class="col-sm-4 btn btn-primary but">COPY LAYOUT</a>
                        <div class="col-sm-4"></div>
                        </div>
                    </div>
                  </div>
                </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6">
            <div class="card" style="background-color: rgb(204, 255, 207);">
                <img class="card-img-top" src="/img/th10base3.png" >
                <div class="card-body">
                  <h5 class="card-title titl">Town Hall 10</h5>
                  <div class="row">
                    <div class="col-sm-4"></div>
                    <a href="https://link.clashofclans.com/en?action=OpenLayout&id=TH10%3AHV%3AAAAAGQAAAAGg_u_2VrfeH-Ksay40vkEv" class="col-sm-4 btn btn-primary but">COPY LAYOUT</a>
                    <div class="col-sm-4"></div>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
                <div class="card" style="background-color: rgb(204, 255, 207);" >
                    <img class="card-img-top" src="/img/th10base4.png" >
                    <div class="card-body">
                        <h5 class="card-title titl">Town Hall 10</h5>
                        <div class="row">
                        <div class="col-sm-4"></div>
                        <a href="https://link.clashofclans.com/en?action=OpenLayout&id=TH10%3AHV%3AAAAAGQAAAAGhANQ5zEFWbNGfjXVd9X8v" class="col-sm-4 btn btn-primary but">COPY LAYOUT</a>
                        <div class="col-sm-4"></div>
                        </div>
                    </div>
                  </div>
                </div>
        </div>
        <br>
        <h3>Town Hall 9</h3>
        <div class="row">
            <div class="col-sm-6">
            <div class="card" style="background-color: rgb(204, 255, 207);">
                <img class="card-img-top" src="/img/th9base1.png" >
                <div class="card-body">
                  <h5 class="card-title titl">Town Hall 9</h5>
                  <div class="row">
                    <div class="col-sm-4"></div>
                    <a href="https://link.clashofclans.com/en?action=OpenLayout&id=TH9%3AWB%3AAAAABwAAAAHNZHSJdLYhsMWpSf8nhKUe" class="col-sm-4 btn btn-primary but">COPY LAYOUT</a>
                    <div class="col-sm-4"></div>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
                <div class="card" style="background-color: rgb(204, 255, 207);" >
                    <img class="card-img-top" src="/img/th9base2.png" >
                    <div class="card-body">
                        <h5 class="card-title titl">Town Hall 9</h5>
                        <div class="row">
                        <div class="col-sm-4"></div>
                        <a href="https://link.clashofclans.com/en?action=OpenLayout&id=TH9%3AWB%3AAAAABwAAAAHNY_2qdFKe8BYrqo_j0N2B" class="col-sm-4 btn btn-primary but">COPY LAYOUT</a>
                        <div class="col-sm-4"></div>
                        </div>
                    </div>
                  </div>
                </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6">
            <div class="card" style="background-color: rgb(204, 255, 207);">
                <img class="card-img-top" src="/img/th9base3.png" >
                <div class="card-body">
                  <h5 class="card-title titl">Town Hall 9</h5>
                  <div class="row">
                    <div class="col-sm-4"></div>
                    <a href="https://link.clashofclans.com/en?action=OpenLayout&id=TH9%3AWB%3AAAAAJwAAAAGeCdY2Ilk5xrnES-YzPzyG" class="col-sm-4 btn btn-primary but">COPY LAYOUT</a>
                    <div class="col-sm-4"></div>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
                <div class="card" style="background-color: rgb(204, 255, 207);" >
                    <img class="card-img-top" src="/img/th9base4.png" >
                    <div class="card-body">
                        <h5 class="card-title titl">Town Hall 9</h5>
                        <div class="row">
                        <div class="col-sm-4"></div>
                        <a href="https://link.clashofclans.com/en?action=OpenLayout&id=TH9%3AWB%3AAAAAJwAAAAGeC34RN9VIkNO3cP7JXBwX" class="col-sm-4 btn btn-primary but">COPY LAYOUT</a>
                        <div class="col-sm-4"></div>
                        </div>
                    </div>
                  </div>
                </div>
        </div>
        <br>
        <h3>Town Hall 8</h3>
        <div class="row">
            <div class="col-sm-6">
            <div class="card" style="background-color: rgb(204, 255, 207);">
                <img class="card-img-top" src="/img/th8base1.png" >
                <div class="card-body">
                  <h5 class="card-title titl">Town Hall 8</h5>
                  <div class="row">
                    <div class="col-sm-4"></div>
                    <a href="https://link.clashofclans.com/en?action=OpenLayout&id=TH8%3AWB%3AAAAAJwAAAAGUOMwM0LCeGgmSmfOriIsg" class="col-sm-4 btn btn-primary but">COPY LAYOUT</a>
                    <div class="col-sm-4"></div>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
                <div class="card" style="background-color: rgb(204, 255, 207);" >
                    <img class="card-img-top" src="/img/th8base2.png" >
                    <div class="card-body">
                        <h5 class="card-title titl">Town Hall 8</h5>
                        <div class="row">
                        <div class="col-sm-4"></div>
                        <a href="https://link.clashofclans.com/en?action=OpenLayout&id=TH8%3AWB%3AAAAAJwAAAAGUIWmsAXmYlfFxeWb5SSAV" class="col-sm-4 btn btn-primary but">COPY LAYOUT</a>
                        <div class="col-sm-4"></div>
                        </div>
                    </div>
                  </div>
                </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6">
            <div class="card" style="background-color: rgb(204, 255, 207);">
                <img class="card-img-top" src="/img/th8base3.png" >
                <div class="card-body">
                  <h5 class="card-title titl">Town Hall 8</h5>
                  <div class="row">
                    <div class="col-sm-4"></div>
                    <a href="https://link.clashofclans.com/en?action=OpenLayout&id=TH8%3AWB%3AAAAAJwAAAAGUNzxyU2HakkElXI8AG_nK" class="col-sm-4 btn btn-primary but">COPY LAYOUT</a>
                    <div class="col-sm-4"></div>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
                <div class="card" style="background-color: rgb(204, 255, 207);" >
                    <img class="card-img-top" src="/img/th8base4.png" >
                    <div class="card-body">
                        <h5 class="card-title titl">Town Hall 8</h5>
                        <div class="row">
                        <div class="col-sm-4"></div>
                        <a href="https://link.clashofclans.com/en?action=OpenLayout&id=TH8%3AWB%3AAAAAJwAAAAGT6pIuDHXzZjUEKXcx05N8" class="col-sm-4 btn btn-primary but">COPY LAYOUT</a>
                        <div class="col-sm-4"></div>
                        </div>
                    </div>
                  </div>
                </div>
        </div>
        <br>
        


        <%- include('partials/button.ejs') %>
  <%- include('partials/footer.ejs') %>
</div>
    </body>
</html>