#table{
    margin-top: 70px;
}
.head{
    font-family: 'Nosifer',cursive;
    font-size: 26px;
    color: rgb(47, 162, 255);
}
.rank,.exp,.name{
    font-family: 'Metal Mania',cursive;
    font-size: 25px;
    font-weight: bolder;
    color: rgb(90, 90, 90);
}
.rank{
    color: red;
}
.exp{
    color: white;
    font-size: 22px;
    background-image: url('img/exp.png');
    background-repeat: no-repeat;
}