.head{
    font-family: 'Nosifer',cursive;
    font-size: 20px;
    color: rgb(0, 225, 255);
    text-align: center;
}
.headd{
    font-family: 'Nosifer',cursive;
    font-size: 17px;
    color: rgb(0, 225, 255);
}
#table{
    margin-top: 70px;
}
.name,.stars{
    font-family: 'Metal Mania',cursive;
    font-size: 24px;
    font-weight: bolder;
}
.stars{
    background-image: url('img/star.png');
    background-repeat: no-repeat;
    color: rgb(234, 0, 255);
}
.win{
    font-family: 'Metal Mania',cursive;
    font-size: 34px;
    font-weight: bolder;
    color: rgb(77, 243, 0);
}

.lose{
    font-family: 'Metal Mania',cursive;
    font-size: 30px;
    font-weight: bolder;
    color: rgb(243, 0, 0);
}